@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



/*///////////////////////////////////////////////////////////////*/
/*/////////////////////INICIO NAVBAR////////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 13px;
    position: relative;
    margin-left: 25px;
}

.navbar a:hover {
    color: #e3c4be;
}

.navbar a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e3c4be;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}


/*///////////////////////////////////////////////////////////////*/
/*/////////////////////FIN DEL NAVBAR////////////////////////////*/
/*/////////////////////////////////////////////////////////////*/


.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideAnimation 15s infinite;
    filter: brightness(20%);
}

.slide1 {
    background-image: url('../img/final-v2.jpg');
    animation-delay: 10s;
}

.slide2 {
    background-image: url('../img/logos/rings.jpg');
    animation-delay: 0s;
}

.slide3 {
    background-image: url('../img/logos/boda.jpg');
    animation-delay: 5s;
}



@keyframes slideAnimation {
    0% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////FIN SLIDER////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    padding-top: 25px;

}

.h1-m {
    margin-left: 10px;
    margin-right: 15px;
    color: #c69086;
}

.fecha h2 {
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
}

.hero-content img {
    width: 100px;
}

.birds {
    margin-top: 15px;
}

.frase {
    max-width: 50%;
    margin-top: 25px;
    font-family: "Satisfy", cursive;
    font-weight: 300;
    font-size: 1.5rem;
}

.fecha {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}




/*/////////////////////////////////////////////////////////////**/
/*/////////////////////////////////////////////////////////////**/
/*/////////////////////////////////////////////////////////////**/


.contador {
    width: 100%;
    background-color: #c69086;
    padding: 45px;
    height: 100vh;
}

.contador-ctn {
    font-family: "Poppins", sans-serif;
    padding-top: 100px;
    height: 100%;
    max-width: 1024px;
    margin: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 0 50px 0px 50px;
}

.contador-ctn h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 2.5rem;
}

.countdown {
    display: flex;
    gap: 10px;
    font-size: 2em;
    margin-top: 35px;
    padding: 0 15px;
}

.time-unit {
    border: 4px solid #e3c4be;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fbf6f5;
}

.label {
    font-size: 0.5em;
    margin-top: 5px;
    color: #a8665a;
}

#days {
    color: #a8665a;
}

#hours {
    color: #a8665a;
}

#minutes {
    color: #a8665a;
}

#seconds {
    color: #a8665a;
}

.contador-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contador-content img {
    height: 30px;
    margin-top: 19px;
}

.btn-asistencia {
    margin-top: 35px;
    margin-bottom: 100px;
    color: #8c5349;
    text-decoration: none;
    border: 4px solid #e3c4be;
    padding: 20px 30px;
    background-color: #f6ecea;
    border-radius: 10px;

}

.btn-asistencia:hover {
    background-color: #a8665a;
    color: #ffffff;
    border-radius: 10px;
}

/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/

.about {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.about-ctn {
    max-width: 1080px;
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.about-ella {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-ella h1 {
    text-align: center;
    color: #c69086;
    font-weight: 400;
}

.about-ella h2 {
    font-weight: 600;
    color: rgb(78, 78, 78);
    text-align: center;
    font-size: 1.8rem
}

.card-img {
    width: 470px;
    height: 340px;
    text-align: start;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.about-ella p {
    font-size: 15px;
    margin-top: 15px;
    color: rgb(51, 51, 51);
    line-height: 30px;
    width: 93%;
}

.text-mod {
    color: #c0432d;
}

.ctamor {
    display: flex;
    width: 100%;
    align-items: center;
}

.ctamor img {
    width: 20px;
    margin-left: 15px;
    margin-top: 5px;
}

.about-el p {
    font-size: 15px;
    margin-top: 15px;
    color: rgb(51, 51, 51);
    line-height: 30px;
    width: 93%;
}

.ctamor p {
    color: #c0432d;
    margin-left: 5px;
    font-size: 14px;
}

.about-separador {
    width: 4%;
}

.about-separador h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin-top: 10px;
    color: #c69086;
}

/*//////////////*/
.about-el {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-el h1 {
    text-align: center;
    color: #c69086;
    font-weight: 400;
}

.about-el h2 {
    font-weight: 600;
    color: rgb(78, 78, 78);
    text-align: center;
    font-size: 1.8rem
}


/* ///////////////////////////////////////////////////////////////////////
/////////////////////////////SWIPPER//////////////////////////////////
////////////////////////////////////////////////////////////////////// */
.galeria {
    width: 100%;
    height: 100vh;
    background-color: #5f362f;
    font-family: "Poppins", sans-serif;
}

.galeria-ctn {
    max-width: 1080px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.galeria-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.video-title {
    font-size: 38px;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 24px 0px;
    text-align: right;
    color: white;
    margin-top: 32%;
}

.galeria-left h1 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: white;
}

.galeria-left p {
    color: rgb(202, 202, 202);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}

.ocdr,
.law,
.lst {
    margin: 12px 0px;
    text-align: right;
}


.galeria-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.swiper_Hero {
    width: 90%;
    height: 400px;
    border-radius: 10px;
    margin-left: 10%;
}

.swiper_Hero img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiperjs .swiper-button-prev,
.swiperjs .swiper-button-next{
background-color: #16161a;
--swiper-navigation-size: 10px;
width: 30px;
height: 30px;
border-radius: 50%;
margin-top: 15; 
opacity: 0;
--swiper-theme-color: white;
transition: opacity .5s;
}

.swiperjs:hover .swiper-button-prev,
.swiperjs:hover .swiper-button-next{
opacity: 1;
}

.swiper-js .swiper-pagination{
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.slider-txt-bot{
    margin-left: 5%;
    width: 95%;
    margin-top: 25px;
}

.slider-txt-bot p{
    color: white;
    font-weight: 400;
    line-height: 30px;
    font-size: 15px;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.infor{
    margin-top: 15vh;
    width: 100%;
}